.menu-bar {
	position: absolute;
	top: 0px;
	right:0px;
	left: 0px;
	height: 40px;
	background-color: #E9E9E9;
	z-index: 7;
}

.options {
	position: absolute;
	font-size: 18px;
	color: #697475;
	padding: 15px;
	padding-top: 8px;
	top: 0px;
	-webkit-user-select: none;
}
body {
	padding: 0px;
	overflow: hidden;
	background-color: #999999;
	-webkit-user-select: none;
}

.block {
	position: absolute;
	-webkit-user-select: none;
}

.main {
	position: absolute;
	top: 50px;
	bottom: 50px;
	left: 0px;
	right: 300px;
	background-color: #999999;
	padding-bottom: -50px;
}

canvas {
	position: absolute;
	top: -100px;
	left: 0px;
	z-index: -1;
}

.selected {
	cursor: pointer;
}

.options {
	position: absolute;
	font-size: 18px;
	color: #697475;
	padding: 15px;
	padding-top: 8px;
	top: 0px;
	-webkit-user-select: none;
}

.info-bar {
	height: 50px;
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background-color: #E9E9E9;
	z-index: 2;
}

.side-bar {
	position: absolute;
	background-color: #E9E9E9;
	right: 2px;
	bottom: 51px;
	top: 41px;
	width: 298px;
	-webkit-user-select: none;
}

.slide-down{
	position: absolute;
	width: 125px;
	top: 41px;
	padding-top: 1px;
	border: 1px solid #7D7D7D;
	background-color: #E9E9E9;
	z-index: 8;
	-webkit-user-select: none;
}

.slide-down-option {
	width: 100%;
	height: 25px;
	padding-top: 3px;
	color: #566061;
	z-index: 9;
	-webkit-user-select: none;
}

.slide-down-option:hover {
	background-color: #D2D2D2;
	cursor: pointer;
}

.create-bar {
	position: absolute;
	top: 50px;
	right: 0px;
	left: 0px;
	height: 75px;
	background-color: #E9E9E9;
	z-index: 3;
}

.create-bar-options {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 20px;
	background-color: #C4C4C4;
	border: 1px solid #878787;
	z-index: 4;
}

.mesh-chart {
	position: absolute;
	right: 10px;
	top: 10px;
	left: 10px;
	height: 200px;
	border-radius: 4px;
	border: 1px solid #A6A6A6;
	overflow: auto;
	max-width: 100%;
    overflow-x: hidden;
}


.mesh-chart-value {
	color: #878787;
	height: 20px;
	width: 100%;
	font-size: 16px;
	padding: 2px;
}

.mesh-chart-value:hover {
	background-color: #D3D3D3 !important;
	cursor: pointer;
}

.color-block {
	height: 8px;
	width: 8px;
	margin-top: 7px;
	margin-left: 4px;
	font-size: 12px;
}

.color-block-red {
	height: 8px;
	width: 8px;
	margin-top: 7px;
	margin-left: 4px;
	font-size: 12px;
	background-color: red;
}

.color-block-red:hover {
	background-color: #D00209;
}

.color-block-green {
	height: 8px;
	width: 8px;
	margin-left: 28px; 
	margin-top: -8px;
	font-size: 12px;
	background-color: green;
}

.color-block-green:hover {
	background-color: #0D6603;
}

.edit-mesh {
	position: absolute;
	right: 10px;
	left: 10px;
	bottom: 10px;
	top: 220px;
	color: #878787;
	padding: 15px;
	overflow: auto;
	overflow-x: hidden;
}

.edit-input {
	margin-left: 10px;
	width: 40px;
	/*border: 0px solid transparent !important;
	-moz-box-shadow: 0 0 3px #000 !important;
	-webkit-box-shadow: 0 0 3px #000 !important;
	box-shadow: 0 0 3px #000 !important;*/	
	height: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #0C67E9 !important;
	border: none !important;
	background-color: transparent !important;
}

.edit-input:hover {
	cursor:col-resize;
}

.input {
	margin-left: 10px;
	width: 150px;
	border: none !important;
	-moz-box-shadow: 0 0 3px #000 !important;
	-webkit-box-shadow: 0 0 3px #000 !important;
	box-shadow: 0 0 3px #000 !important;	
	height: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.delete {
	padding: 7px;
	position: absolute;
	top: 10px;
	right: 50px;
	left: 50px;
	height: 0px;
	border: 1px solid #DBDBDB;
	border-bottom-right-radius: 4px; 
	border-bottom-left-radius: 4px; 
	background-color: #E8E8E8;
	z-index: 10;
}

.info-bar-icon {
	position: absolute;
}

.icon-hover {
	opacity: 0.95;
	cursor: pointer;
}

.edit-input:focus {
	border: 1px solid #959595;
	background-color: black;
	outline: none;
}

input[type="checkbox"].w2ui-toggle + div > div {
	margin-top: 0px;
	margin-left: 0px;
}

input[type="range"]::-webkit-slider-thumb{
   -webkit-appearance:none !important;  
   width:15px;
   height:15px;
   -webkit-appearance: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -wekkit-border-radius: 8px;
    border:1px solid #939DA0;
    cursor: pointer;
    background: #F1F2F7;
 }

input[type="range"]{
	background-color: #E9E9E9;
	border: 1px solid #ACACAC;
    width: 100px;
    height: 10px;
    -webkit-appearance: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
}

input[type="range"]:focus{
	outline: none;
}

.animation-option {
	position: absolute;
	left: 1px; 
	top: 41px;
	height: 40px;
	width: 15px;
	background-color: #E3E3E3;
	z-index: 3;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	cursor: pointer;
}

.animation-holder {
	position: absolute;
	left: 1px; 
	top: 41px;
	height: 40px;
	width: 0px;
	background-color: #E3E3E3;
	z-index: 3;
}

.frames {
	position: absolute;
	left: 1px;
	right: 1px;
	top: 1px;
	height: 18px;
	border: 1px solid #828282;
	background-color: #DCDCDC;
}