body {
<<<<<<< HEAD
	background-color: black;
}

.top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
=======
	background-color: #E9E9E9;
	overflow: hidden;
}

.block {
	position: absolute;
}

.stock-chart-item:hover {
	background-color: #CDCDCD;
	cursor: pointer;
}

.stock-chart-item {
	position: absolute;
	background-color: #e3e3e3;
}

.all-stocks {
	position: absolute;
	top: 0px;
	bottom: 0px; 
	left: 301px;
	right: 350px; 
>>>>>>> origin/master
}